# BUILD OUTPUT
target/
HELP.md

# UPLOAD FOLDER
ge_uploads/

# MAVEN JAR
.mvn/wrapper/maven-wrapper.jar

# IDE FILES
.idea/
*.iws
*.iml
*.ipr
.vscode/
.classpath
.project
.settings/
.factorypath
.apt_generated
.springBeans
.sts4-cache
/nbproject/private/
/nbbuild/
/nbdist/
/.nb-gradle/